/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: #222323;
}
li {
  list-style: none;
}
li img {
  vertical-align: middle;
}
input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}
input[placeholder] {
  font-size: 20px;
}
input:hover {
  background: lightgrey;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c1c1c;
  width: 90%;
  margin: auto;
}
.header .search {
  margin-right: 50px;
}
.img_poster {
 width: 100%;
 height: 100%;
}
/* END Header */
#wrapper-film {
  background: #1c1c1c;
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

/* Box FILM */
.film {
  position: relative;
  background: white;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  width: 342px;
  height: 480px;
}
.film .info-film,
.film .poster-film {
  width: 100%;
  height: 100%;
}
.film .info-film {
  padding: 25px;
  overflow: scroll;
}
.film .poster-film {
  position: absolute;
}
.film img:hover {
  opacity: 0.1;
  transform: scale(1.5);
}
/* END Box FILM */
